body{
    background-color: #C3C1E6;
}
.container--navbar{
position: absolute;
width: 750px;
height: 95px;
left: 30%;
top: 10%;
}
.container--navbar input {
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 16px;
gap: 436px;
width: 595px;
height: 38px;
border: 1px solid #6C63FF;
border-radius: 5px;
flex: none;
order: 0;
flex-grow: 0;
}
.register{
    background: rgba(92, 62, 226, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    height: 60vh;
   width: 50vh;
   position:absolute ;
   top: 20%;
    left: 40%;
    right: 50%;
    bottom: 50%;
    font-family: 'Kanit';
}
.register form{
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register  input{
    display: flex;
    gap:2;
    width: 100%;
    padding: 5px;
    font-family: 'Kanit';
    font-size: 20px;

}
.register h1{
    padding:0 ;
    margin: 0;
}
.register button{
    width: 60%;
    padding: 5px;
    font-family: 'Kanit';
    font-size: 20px;
}
.container--navbar h1{
position: absolute;
width: 200px;
left: 260px;
bottom: 80px;
font-family: 'Kanit';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 39px;
color: #252525;
}
.container--navbar select{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px;
gap: 10px;
width: 85px;
height: 38px;
background: #6C63FF;
border-radius: 5px;
flex: none;
order: 1;
flex-grow: 0;
 position: relative;
 left: 81%;
 bottom: 40%;
font-family: 'Kanit';
font-family: 'Kanit';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 100%;
text-transform: uppercase;
color: #F7F7F7;
}
.container--navbar button{
width: 38px;
height: 38px;
flex: none;
order: 2;
flex-grow: 0;
 background-color: #6C63FF;

 border: none;

 border-radius: 8px;

 position: relative;
 left: 94%;
 bottom: 80%;
 font-size: 23px;
 color: white;
 box-shadow: 0 2px 4px darkslategray;
 cursor: pointer;
 transition: all 0.2s ease;
 
}
button.btn:hover{
background-color: #273994;
}
button.btn:active {
box-shadow: 0 0 2px darkslategray;
transform: translateY(2px);
}
.empty img{
position: absolute;
width: 221px;
height: 178px;
left: 45%;
top: 20%;

}
.container--notes{
position: relative;
left: 59%;
font-family: "Kanit";
font-size: 20px;
}
.cmain{
    display:flex;
    align-items: center;
    width: 100%;
   justify-content: space-between;


}
.icon{
    transition: 0.2s;
}
.icon:hover{
transform: translateY(-3px);
cursor: pointer;
}
.container--notes h2{
    margin-left: 5px;
}
.container--notes hr{
   
    margin: 0;

}
.container--notes input{

   width: 25px;
   height: 25px;
}
.container1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.notes{
    position: absolute;
    width: 50%;
top: 15%;
}

.login-container{
    background: rgba(92, 62, 226, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    height: 50vh;
   width: 50vh;
   position:absolute ;
   top: 20%;
    left: 40%;
    right: 50%;
    bottom: 50%;
    font-family: 'Kanit';
}
.login-container input{
    display: flex;
    gap:2;
    width: 70%;
    padding: 10px;
    font-family: 'Kanit';
    font-size: 20px;
}
.login-container button{
    width: 40%;
    padding: 5px;
    font-family: 'Kanit';
    font-size: 20px;
}

.container--New{
position: absolute;
width: 500px;
height: 289px;
left: 34%;
top: 20%;
z-index: 1;
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.logout{
    width: 100%;
}
.button1{
border-radius: 50px;
height: 40px;
width: 40px;
font-size: 25px;
position: absolute;
top: 80%;
left: 80%;
background-color:#6C63FF;
color: #FFFFFF;
border: none;
cursor: pointer;
transition: all 0.2s ease;
box-shadow: 0 2px 4px darkslategray;
}
button.button1:hover {
    background-color: #273994;
   }
   
   button.button1:active {
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
   }

.container--New h2{
text-align: center;
font-family: 'Kanit';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 100%;
text-transform: uppercase;
color: #252525;
}
.container--New input{
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 16px;
gap: 436px;
width: 95%;
top: 10%;
position: relative;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 100%;
color: #C3C1E6;
margin-left: 13px;
flex: none;
order: 0;
flex-grow: 0;
border: 1px solid #6C63FF;
border-radius: 5px;
}

.cancel{
box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px 22px;
gap: 10px;
position: relative;
top: 45%;
margin-left: 20px;
border: 1px solid #6C63FF;
border-radius: 5px;
font-family: 'Kanit';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 100%;
text-transform: uppercase;
color:  #6C63FF;
cursor: pointer;
 transition: all 0.2s ease;
}
button.cancel:hover{
     
    background-color: #e3e5eb;
   }
   
   button.cancel:active {
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
   }


button.apply:hover{
     
    background-color: #3e54c3;
   }
   
   button.apply:active {
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
   }
.apply{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px 22px;
gap: 10px;
position: relative;
top: 59%;
left: 77%;
width: 100px;
height: 100px;
height: 38px;
background: #6C63FF;
border-radius: 5px;
font-family: 'Kanit';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 100%;
text-transform: uppercase;
color: #F7F7F7;
cursor: pointer;
 transition: all 0.2s ease;
}

.empty h1{
position: absolute;
width: 69px;
height: 20px;
top: 45%;
left: 50%;
font-family: 'Kanit';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 100%;
text-transform: capitalize;
color: #252525;
filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}



  

@media  only screen and (max-width: 412px) {
    .container--New{
    position: absolute;
width: 500px;
height: 289px;
left: 48%;
top: 20%;
    }
    .empty h1{
     position: absolute;
     width: 69px;
     height: 20px;
     top: 45%;
     left: 100%;
    }
    .empty img{
    position: absolute;
    width: 221px;
    height: 178px;
    left: 80%;
    top: 20%;
    } 
    .button1{
    border-radius: 50px;
    height: 40px;
    width: 40px;
    font-size: 25px;
    position: absolute;
    top: 80%;
    left: 150%;
    background-color:#6C63FF;
    color: #FFFFFF;
    border: none;
    }

}

